.toaster-container {
  visibility: visible;
  width: 100%;
}
.toaster-container .toaster {
  margin: 0;
  padding: 0;
  list-style: none;
}
.toaster-container .toaster-countdown .badge {
  color: #ffffff;
}
.toaster-container .toaster-countdown:hover .badge {
  font-size: 0;
}
.toaster-container .toaster-countdown:hover .badge:after {
  font-size: 12px;
  content: attr(hover-text);
}
.toaster-container .alert {
  padding: 0 15px;
  margin: 0;
  border-radius: 0;
  border: 0px;
}
.toaster-container .toast {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.toaster-container .toast > * {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.toaster-container .toast > *:not(:last-child) {
  margin-right: 4px;
}
.toaster-container .toast-message {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-top: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: normal;
}
.toaster-container .toast-stack {
  padding-bottom: 10px;
}
.toaster-container .toast-stack pre {
  display: inline-block;
  width: 100%;
  margin: 10px 0;
  word-break: normal;
  word-wrap: normal;
  white-space: pre-wrap;
}
.toaster-container .toast-controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.toaster-container .toast-controls button {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  border: 0;
  border-radius: 0;
  padding: 10px 15px;
}
.toaster-container .alert-success .badge {
  background: #185e36;
}
.toaster-container .alert-info .badge {
  background: #051214;
}
.toaster-container .alert-warning .badge {
  background: #7f5006;
}
.toaster-container .alert-danger .badge {
  background: #921e12;
}
.toaster-container .alert-banner {
  background-color: white;
  padding: 10px 15px;
}
.toaster-container .alert-banner a {
  color: #328caa;
}
.toaster-container .alert-banner .toaster-countdown {
  background-color: white;
}
.toaster-container .alert-banner .badge {
  background-color: #328caa;
}
.toaster-container .toast-message {
  white-space: normal;
}
.toast-message-banner {
  display: block;
}
.error-url-overflow-app {
  padding: 25px;
}
.error-url-overflow-app pre {
  white-space: pre-wrap;
}
.global-nav-link {
  position: relative;
  width: 53px;
  height: 38px;
  line-height: 24px;
}
.global-nav-link.is-global-nav-link-disabled {
  opacity: 0.5;
}
.global-nav-link.is-global-nav-link-disabled .global-nav-link__anchor {
  cursor: default;
}
.global-nav-link:hover,
.global-nav-link.active {
  background-color: #2f99c1;
}
.global-nav-link:hover .global-nav-link__anchor,
.global-nav-link.active .global-nav-link__anchor {
  color: #ffffff;
  text-decoration: none;
}
.is-global-nav-open .global-nav-link {
  width: 180px;
}
.global-nav-link__anchor {
  display: block;
  height: 100%;
  color: #ebf7fa;
}
.global-nav-link__anchor:focus {
  color: #ffffff;
}
.global-nav-link__icon {
  display: inline-block;
  width: 53px;
  height: 38px;
  float: left;
  text-align: center;
  font-size: 1.7em;
}
/**
     * This imgae is used to display the icon.
     */
.global-nav-link__icon-image {
  height: 18px;
  margin-top: 8px;
}
/**
     * This placeholder text gets shown if there is no specified icon.
     */
.global-nav-link__icon-placeholder {
  line-height: 38px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.global-nav-link__title {
  display: none;
  width: calc(127px);
  float: right;
  font-size: 0.9em;
  text-align: left;
  padding-left: 3px;
  line-height: 38px;
  white-space: nowrap;
}
.is-global-nav-open .global-nav-link__title {
  display: inline-block;
}
.global-nav-link--close {
  /**
   * 1. Translation accounts for the icon image being slightly off-center.
   */
}
.global-nav-link--close .global-nav-link__icon {
  -webkit-transform: translateX(1px) scaleX(-1);
          transform: translateX(1px) scaleX(-1);
  /* 1 */
}
.global-nav {
  width: 53px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  background-color: #3caed2;
  overflow: hidden;
}
.global-nav.is-global-nav-open {
  width: 180px;
}
.global-nav.is-global-nav-open .app-title {
  display: inline-block;
}
.global-nav.is-global-nav-open + .app-wrapper {
  left: 180px;
}
.global-nav .logo-small,
.global-nav .logo {
  height: 70px;
  width: 180px;
  list-style-type: none;
}
.global-nav .logo-small.kibana,
.global-nav .logo.kibana {
  background-image: url(/bundles/0cebf3d61338c454670b1c5bdf5d6d8d.svg);
  background-position: 6px 10px;
  background-size: 140px 50px;
  background-repeat: no-repeat;
  background-color: #e8488b;
}
/**
   * 1. Push main apps to the top and bottom buttons to the bottom.
   * 2. Fill height of global nav, but respect the height of the logo.
   * 3. Allow user to scroll to see clipped nav items when the nav is too short.
   * 4. Style the scrollbar to look good in Chrome and Safari.
   */
.global-nav__links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /* 1 */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  /* 1 */
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* 1 */
  height: calc(100% - 70px);
  /* 2 */
  overflow-x: hidden;
  /* 3 */
  overflow-y: auto;
  /* 3 */
}
.global-nav__links::-webkit-scrollbar {
  /* 4 */
  width: 16px;
  height: 16px;
}
.global-nav__links::-webkit-scrollbar-thumb {
  /* 4 */
  background-color: #2f99c1;
  border: 6px solid transparent;
  background-clip: content-box;
}
.global-nav__links::-webkit-scrollbar-track {
  /* 4 */
  background-color: transparent;
}
/**
     * 1. Prevent the top and bottom links from collapsing when the browser window is too short.
     *    This problem is specific to Safari.
     */
.global-nav__links-section {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  /* 1 */
}
body {
  overflow-x: hidden;
}
.app-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: absolute;
  left: 53px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  margin: 0 auto;
  background-color: #fff;
  /**
   * 1. Dirty, but we need to override the .is-global-nav-open state
   *    when we're looking at the log-in screen.
   */
}
.app-wrapper.hidden-chrome {
  left: 0 !important;
  /* 1 */
}
.app-wrapper .navbar-right {
  margin-right: 0;
}
.app-wrapper-panel {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  box-shadow: -4px 0px 3px rgba(0, 0, 0, 0.2);
}
.app-wrapper-panel > * {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
/**
 * 1. Position this loader on top of the content.
 * 2. Make sure indicator isn't wider than the screen.
 */
.loadingIndicator {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
  height: 2px;
}
.loadingIndicator.ng-hide {
  visibility: hidden;
  opacity: 0;
  transition-delay: 0.25s;
}
.loadingIndicator__bar {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 10;
  visibility: visible;
  display: block;
  -webkit-animation: animate-loading-indcator 2s linear infinite;
          animation: animate-loading-indcator 2s linear infinite;
  background-color: #FF95C1;
  background-image: linear-gradient(to right, #E8488B 0%, #E8488B 50%, #FF95C1 50%, #FF95C1 100%);
  background-repeat: repeat-x;
  background-size: 400px 400px;
  width: 200%;
}
@-webkit-keyframes animate-loading-indcator {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
  }
}
@keyframes animate-loading-indcator {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
  }
}

/*# sourceMappingURL=commons.style.css.map*/